<body>
<%= render 'layouts/navbar' %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <% render 'layouts/notice' %>
    </div>
  </div>
  <%= yield %>
</div>
</body>